.DS_Store

*.apk
*.ap_
*.aab
*.dex
*.class
*.log
*.iml

captures
*.externalNativeBuild
*.cxx
local.properties
xcuserdata

.idea/androidTestResultsUserPreferences.xml
.idea/compiler.xml
.idea/deploymentTargetDropDown.xml
.idea/.name
.idea/git_toolbox_prj.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/kotlinc.xml
.idea/migrations.xml
.idea/markdown.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/$CACHE_FILE$
.idea/runConfigurations.xml
.idea/caches
.idea/modules.xml
.idea/navEditor.xml

bin/
gen/
out/
.kotlin/
.gradle/
build/

iosApp/Framework/shared.xcframework/Info.plist
iosApp/Framework/shared.xcframework/ios-*
